.ratings 
{
	border:1px solid #E6E6E6;
	clear:both;
	margin-top:20px;
	height:100px;
	width:300px;
	padding:10px;
	margin-left:22em;
	border-radius:3px;
}

input[type="submit"]
{
	margin-left:24em;	
	border:none;
	background:none;
	background-color:#585858;
	width:100px;
	height:50px;
	color:white;
	border-radius:3px;
	font-size:17px;
	margin-top:20px;
}